<!-- Header -->
<section id="inicio">
  <app-header></app-header>
</section>

<!-- Conteúdos -->
<main class="px-8 pb-8">

  <!-- Visão geral -->
  <section id="visao-geral">
    <app-overview></app-overview>
  </section>

  <section id="estatisticas">
    <app-statistics></app-statistics>
  </section>

  <section id="quiosques">
    <app-kiosk-grid></app-kiosk-grid>
  </section>

  <section id="equipe">
    <app-team></app-team>
  </section>

  <section id="pedidos">
    <app-orders></app-orders>
  </section>
</main>