.sectionCard {
  display: grid;
  grid-template-columns: 1;
  gap: 2rem;
  border-bottom: 2px dashed var(--color-border);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

h2 {
  color: var(--color-sub-text);
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.openTime {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.openTime app-input {
  flex: 1;
}

@media (width < 470px) {
  .openTime {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }
}