<main class="m-8 overflow-hidden">
  <app-return-link [text]="'Voltar para home'"></app-return-link>
  <app-section-title [lable]="'Quiosques'" [section]="'Cadastrar novo quiosque'" [text]="'Adicione um novo quiosque à rede, defina sua localização e horário de funcionamento, e crie o acesso do gestor responsável ao painel.'"></app-section-title>
  <div class="grid lg:grid-cols-3">
    <app-kiosk-register-form class="col-span-2" (onClickCancelButton)="goToHome()"></app-kiosk-register-form>
  </div>
</main>