/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  /* Cores base */
  --color-fundo: #FDE8DA;
  --color-outline: #3A2E2E;
  --color-surface: #FFFCF5;

  /* Cores principais */
  --color-primary: #C0420a;
  --color-secondary: #F5A06A;
  --color-tertiary: #CB6436;

  /* Cores sobre as principais */
  --color-on-primary: #FDE8DA;
  --color-on-secondary: #F5C4A4;
  --color-on-tertiary: #FFFFFF;
  --color-on-surface: #FDD06A;

  /* Outras */
  --color-outline-variant: #575757;

  /* Erro */
  --color-error: #BA1A1A;
  --color-on-error: #FFFFFF;
  --color-error-container: #FFDAD6;
  --color-on-error-container: #410002;

  /* Cores extras */
  --color-verde: #4A8C7A;
  --color-vermelha: #FF5000;
  --color-creme: #FDE8DA;
  --color-amarelo: #FDD06A;
  --color-fundo-escuro: #A83A08;
  --color-marrom: #7A2200;
  --color-hover-sidebarlink: #cb65366c;
  --color-green: #1A6B55;
  --color-light-green: #EBF5F0;
  --color-red: #B23A2E;
  --color-bg-close: #FBE8DA;
  --color-sub-text: #8C7267;


  /* Fontes */
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

@layer components {}

/* @utility base-sidebar {
  @apply h-full max-w-3xs;
} */

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-amarelo);
  color: var(--color-marrom);
}

body {
  background-color: var(--color-fundo);
  font-family: var(--font-poppins);
}

/* Select */
.select {
  --mat-sys-on-surface: var(--color-creme);
  --mat-sys-surface-container: var(--color-tertiary);
  --mat-sys-on-surface-variant: var(--color-creme);
  @apply bg-tertiary p-3 text-creme rounded-2xl mt-2 border border-secondary
}

.quiosque-panel .mat-mdc-option {
  min-height: 40px;
}

.quiosque-panel .mat-mdc-option .mdc-list-item__primary-text {
  display: block;
  width: 100%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.mat-mdc-option.mdc-list-item--selected .mat-pseudo-checkbox-minimal::after,
.mat-mdc-option .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
  color: var(--color-creme) !important;
}

/* SideBar */
@utility base-sidebar {
  @apply h-full max-w-3xs;
}

@utility side-bar-link {
  @apply flex gap-3 mt-1 cursor-pointer text-base text-secondary font-poppins font-medium p-4 rounded-2xl relative transition-colors h-max;
}

.side-bar-link:hover {
  @apply bg-hover-sidebarlink text-creme;
}

.side-bar-link.active {
  @apply bg-tertiary text-creme;
}

.charts {
  background-color: var(--color-surface);
  padding: 1.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

@media (width < 500px) {
  .kioskNameLocation {
    margin-bottom: 1.5rem;
  }
}

@media (width >=500px) {
  .kioskNameOperation {
    display: flex;
  }
}

@media (width>=48rem) {

  .side-bar-link:hover::before,
  .side-bar-link.active::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 24px;
    background: var(--color-amarelo);
    border-radius: 4px;
    left: -16px;
  }
}