<div class="p-8 h-full">
  <app-return-link text="Voltar para login" pageToReturn="login"></app-return-link>

  <main class="h-full w-full flex justify-center items-center">

    <!-- Card -->
    <div class="bg-surface rounded-2xl max-w-130 h-max overflow-hidden">

      <!-- Logo -->
      <div class="bg-linear-to-br from-primary to-tertiary flex items-center justify-center h-50">
        <img src="assets/images/logo.png" alt="Logo Apollo" loading="lazy" class="size-40 rounded-full shadow-2xl">
      </div>

      <!-- Recuperar senha -->
      <div class="p-6 grid">
        <h1 class="text-primary text-2xl font-bold">Recuperar senha</h1>
        <p class="text-tertiary text-lg font-medium mb-3">CONFIRA SEU E-MAIL</p>
        <p class="text-outline text-base">Enviamos um código de confirmação. Digite os quatro caracteres abaixo para continuar.</p>

        <!-- 4 inputs para os caracteres -->

        <app-button labelButton="Confirmar código" [fullWidth]="true"></app-button>

        <p class="text-outline text-base text-center mt-3">Não recebeu o código?</p>

        <!-- Contagem para enviar novo código -->
        <a class="w-max text-primary text-base font-medium justify-self-center mt-1 cursor-pointer ">Solicitar novo código por e-mail</a>

        <p class="text-outline mt-1 text-center">5 solicitações disponíveis</p>
      </div>

    </div>
  </main>

</div>